# --- PORTS ---
BACKEND_PORT=3000
FRONTEND_PORT=5173

# --- DOCKER DATABASE ---
DB_USER=postgres
DB_PASSWORD=mot_de_passe
DB_NAME=portfolio_db
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public"

# --- SECURITY ---
ACCESS_TOKEN_SECRET=secret_pour_access_token
REFRESH_TOKEN_SECRET=secret_pour_refresh_token
EMAIL_TOKEN_SECRET=secret_pour_email_token

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# --- EMAIL ---
EMAIL_USER=votre_email@gmail.com
EMAIL_PASS=votre_mot_de_passe_app
CLIENT_URL=http://localhost:5173