
# config globale
BACKEND_PORT=3000
FRONTEND_PORT=5173
CLIENT_URL=http://localhost:5173


DB_USER=postgres
DB_PASSWORD=mot_de_passe_docker_ici
DB_NAME=portfolio_db
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public"



# Base de Données Supabase  Local
# Remplacer par vos propres URLs de connexion
#DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?pgbouncer=true"
#DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DB_NAME"

# Sécurité 
ACCESS_TOKEN_SECRET=votre_secret_access_token_ici
REFRESH_TOKEN_SECRET=votre_secret_refresh_token_ici
EMAIL_TOKEN_SECRET=votre_secret_email_token_ici

# Expiration des tokens
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# ── Configuration Email (Nodemailer / SMTP) ──
EMAIL_USER=votre_adresse_email@gmail.com
EMAIL_PASS=votre_mot_de_passe_application_google
