# Port du serveur backend
PORT=3000

# Identifiants de la base de données PostgreSQL (à modifier dans votre .env)
DB_USER=votre_nom_utilisateur
DB_PASSWORD=votre_mot_de_passe_securise
DB_NAME=portfolio_db

# Lien de connexion Prisma pour le développement local n oublie pas adapter les valeurs USER, PASSWORD et DB_NAME   
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB_NAME?schema=public"