# Port 
BACKEND_PORT
PORT
DB_PORT=5432

# Identifiants de la base de données PostgreSQL (à modifier dans votre .env)
DB_USER=mohamed_zaaboul
DB_PASSWORD=med12345 
DB_NAME=portfolio_db

# Lien de connexion Prisma pour le développement local n oublie pas adapter les valeurs USER, PASSWORD et DB_NAME   
DATABASE_URL="postgresql://postgres.rtsncsubstjkxkysistn:RAMI@2004med@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.rtsncsubstjkxkysistn:RAMI@2004med@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"


# Frontend autorisé
CLIENT_URL=http://localhost:5173

# Environnement
NODE_ENV=development

# JWT
ACCESS_TOKEN_SECRET=un_code_secret_tres_long_et_complexe_pour_access_2026!

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_SECRET=un_autre_code_encore_plus_secret_pour_refresh_2026!

REFRESH_TOKEN_EXPIRES=7d

# Email
EMAIL_USER=rinaq262@gmail.com
EMAIL_PASS=ibtfvrzhdnvzfusd

